@charset "UTF-8";

/*Estilo confg gerais*/


*{
    margin: 0;
    padding: 0;;
}

body, html{
    background-color: #233eff;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

body h1{
    color: white;
    padding: 1rem;
}