@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;

}


html,bady{
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    padding-bottom: 10px;
    font-variant: small-caps;
}
header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    color: rgba(38, 12, 154, 0.466);
    text-decoration: underline;
}

section{
    padding-top: 5vh;
    padding-bottom: 5vh;
    line-height: 2em;
    padding-left: 30px;
}
section.normal{
    background-color: rgb(236, 236, 241);
}

section.imagem{
background-color: rgb(28, 27, 29);
color: aliceblue;
}

section.imagem > p{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.121);
}
footer{
    background-color: black;
    padding: 15px;
    text-align: center;
    color: white;
}
