@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Great+Vibes&family=Klee+One&family=Rampart+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:wght@400;500&family=Workbench&display=swap');/*font-family: "Roboto", sans-serif;*/



@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courgette&family=Great+Vibes&family=Klee+One&family=Rampart+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:wght@400;500&family=Workbench&display=swap');/*font-family: "Courgette", cursive;   font-family: "Kalam", cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

:root{
    --font1:Verdana,Geneva,Tahoma,sans-serif;
    --font2:"Roboto", sans-serif;
    --font3:"Courgette", cursive;
    --font4: "Kalam", cursive;
}

*{
    margin: 0px;
    padding: 0px;

}


html,bady{
    font-family: var(--font1);
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    padding-bottom: 10px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 4vw;
}
header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    color: rgba(38, 12, 154, 0.466);
    text-decoration: underline;
}

section{
    font-family:var(--font4);
    padding-top: 5vh;
    padding-bottom: 5vh;
    line-height: 2em;
    padding-left: 40px;
    font-size: 3.5vw;
}
section.normal{
    background-color: rgb(236, 236, 241);
}

section.imagem{
background-color: rgb(28, 27, 29);
color: aliceblue;
}

section.imagem > p{
    width: 466px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.121);
}
footer{
    background-color: black;
    padding: 15px;
    text-align: center;
    color: white;
}
